*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:linear-gradient(90deg,#3CCAD4,#81127a);
    color: white;
    min-height: 100vh;
}
header{
    font-size: 1.5rem;
}
header,
form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form input ,form button{
    padding: 0.5rem;
    font-size:2rem;
    border: none;
    background: white;
}
form button{
    color: #3CCAD4;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}
form button:hover{
    background: #3CCAD4;
    color: white;
}
.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list{
    min-width: 30%;
    list-style: none;
}
.todo{
    margin:0.5rem;
    background:white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    transition: all 0.8s ease-in-out;
}
.todo li{
    flex:1;
}
.trash-btn, 
.complete-btn{
    background:#e2710d;
    color: white;
    border:none;
    padding:1rem;
    font-size: 1rem;
}
.complete-btn{
    background:#24c53d;
}
.todo-item{
    padding: 0rem 1rem;
}

.completed{
    text-decoration: line-through;
    opacity: 0.4;
    
}

.fas {
    pointer-events: none;
}
